apiVersion: 1

# Configure Prometheus datasource for Grafana provisioning.
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: false

